<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20103/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,163}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,5},{74,163}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,157},{96,139}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,34},{96,139}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{88,143}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,30},{88,143}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{86,139}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,34},{86,139}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/attack/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{98,133}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,30},{98,133}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/attack/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{86,133}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,36},{86,133}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/attack/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,145},{102,131}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,37},{102,131}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/attack/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,134},{112,129}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,38},{112,129}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/death/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,163},{90,145}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,21},{90,145}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/death/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2},{130,73}}</string>
                <key>offset</key>
                <string>{-52,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,139},{130,73}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/death/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{70,159}}</string>
                <key>offset</key>
                <string>{-17,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,6},{70,159}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/death/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,2},{126,79}}</string>
                <key>offset</key>
                <string>{-58,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,86},{126,79}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/run/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,143},{102,121}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,36},{102,121}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/run/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,2},{98,127}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,40},{98,127}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/run/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,137},{116,129}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,39},{116,129}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/run/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{122,131}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,38},{122,131}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/run/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,83},{98,123}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,47},{98,123}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/run/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,137},{88,115}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,51},{88,115}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/run/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,135},{92,113}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,51},{92,113}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/run/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,183},{70,111}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,49},{70,111}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/stand/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{98,153}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,17},{98,153}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/stand/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{98,153}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,17},{98,153}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/stand/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{94,153}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,16},{94,153}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/stand/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,157},{94,151}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,18},{94,151}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/stand/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{72,141}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,26},{72,141}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/stand/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{68,141}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,27},{68,141}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/stand/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{66,139}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,28},{66,139}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
            <key>20103/stand/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{68,139}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,28},{68,139}}</string>
                <key>sourceSize</key>
                <string>{260,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_20103.png</string>
            <key>size</key>
            <string>{1433,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b81a4ad2a7e19b0fc8c9abb7366458b1:47af2fe68e0ce1838ccf03a8d3d35194:6f168dc0e8641d2ddb57c2a5f40f5f7d$</string>
            <key>textureFileName</key>
            <string>m_20103.png</string>
        </dict>
    </dict>
</plist>
